body {
  font: normal 12px helvetica, arial, verdana, tahoma, sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* load.. */
.app-loading-indicator {
  font-size: 11px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  height: 18px;
  text-align: left;
}

#doc-body .app-loading-indicator {
  font: bold 13px Helvetica, Arial, Tahoma, Verdana, sans-serif;
  position: absolute;
  top: 35%;
  left: 43%;
  color: #444;
  background-image: url(../img/large-loading.gif);
  background-repeat: no-repeat;
  background-position: left 5px;
  padding: 10px 10px 10px 38px;
  text-align: left;
}

#app-loading-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: white;
}

#app-loading {
  position: absolute;
  left: 45%;
  top: 40%;
  padding: 2px;
  z-index: 20001;
  height: auto;
}

#app-loading img {
  margin-bottom: 5px;
}

#app-loading .app-loading-indicator {
  background: white;
  color: #555;
  font: bold 13px helvetica, arial, tahoma, sans-serif;
  padding: 10px;
  margin: 0;
  text-align: center;
  height: auto;
}

.x-form-text,textarea.x-form-field {
  background: #fff;
  border-color: #B5B8C8;
}

.x-form-focus,textarea.x-form-focus {
  background: #FFF6AA;
  background-color: #FFF6AA;
  border-color: #7eadd9;
}

.gui_title {
  background-color: #dfe8f6;
  font-family: arial, sans-serif, tahoma, verdana, arial;
  font-size: 16px;
  height: 22px;
  padding-top: 4px;
  font-weight: bold;
  border-bottom: 1px solid #99bbe8;
  /*
  margin-bottom:2px;*/
}

.cellClsAlignTop {
  vertical-align: top;
  padding-right: 10px;
}

.field_important_1 {
  background-color: #CFF6BA !important;
  background: #CFF6BA !important;
  font-weight: bold;
}

/*********************   UX Controls  ************************

/* [OPTIONAL] -- may be used for either Ext.grid.GroupSummary / Ext.ux.grid.GridSummary plugins */
.x-grid3-summary-row {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #333;
  background: #f1f2f4;
}

.x-grid3-summary-row .x-grid3-cell-inner {
  font-weight: bold;
  padding-bottom: 4px;
}

.x-grid3-cell-first .x-grid3-cell-inner {
  padding-left: 16px;
}

.x-grid-hide-summary .x-grid3-summary-row {
  display: none;
}

.x-grid3-summary-msg {
  padding: 4px 16px;
  font-weight: bold;
}

/* [REQUIRED] (by Ext.ux.grid.GridSummary plugin) */
.x-grid3-gridsummary-row-inner {
  overflow: hidden;
  width: 100%;
} /* IE6 requires width:100% for hori. scroll to work */
.x-grid3-gridsummary-row-offset {
  width: 10000px;
}

.x-grid-hide-gridsummary .x-grid3-gridsummary-row-inner {
  display: none;
}

#login-logo {
  background: url(../img/logo.jpg) no-repeat center center;
}

/*login*/
.user {
  background: url("../img/user.gif") no-repeat 1px 2px;
}

.key {
  background: url("../img/key.gif") no-repeat 1px 2px;
}

.key,.user {
  background-color: #FFFFFF;
  padding-left: 20px;
  font-weight: bold;
  color: #000033;
}

.key.x-form-invalid,.user.x-form-invalid {
  border: 2px solid #dd7870;
}

/* 窗口图标 */
.icon-win {
  background-image: url( ../img/user.png ) !important;
}

#titlebar {
  background: #7F99BE url(../img/layout-browser-hd-bg.gif) repeat-x
    center;
}

#titlebar h1 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-weight: normal;
  padding: 5px 10px;
  /* text-shadow: 0 1px 0 #fff; */
}

#start-div h2 {
  font-size: 12px;
  color: #555;
  padding-bottom: 5px;
  border-bottom: 1px solid #C3D0DF;
}

#start-div p {
  margin: 10px 0;
}

#welcome-div h2 {
  font-size: 12px;
  color: #555;
  padding-bottom: 5px;
  border-bottom: 1px solid #C3D0DF;
}

#welcome-div p {
  margin: 10px 0;
}
