<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/security
  http://www.springframework.org/schema/security/spring-security-3.0.xsd">

  <http auto-config='true'>
    <intercept-url pattern="/book/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
    <intercept-url pattern="/book/admin.jsp" access="ROLE_ADMIN" />
    <intercept-url pattern="/book/**" access="ROLE_USER" />
    <form-login login-page="/book/login.jsp"
                authentication-failure-url="/book/login.jsp?error=true"
                default-target-url="/book/index.jsp" />
  </http>

  <authentication-manager>
    <authentication-provider>
      <jdbc-user-service data-source-ref="dataSource"
        users-by-username-query="select username,password,status as enabled
        from t_users where username=?"

        authorities-by-username-query="select u.username,r.name as authority
        from t_users u
        join t_user_role ur
        on u.oid=ur.userid
        join t_roles r
        on r.oid=ur.roleid
        where u.username=?"

        />
      <!--
        <user-service>
          <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
          <user name="user" password="user" authorities="ROLE_USER" />
        </user-service>
        -->
    </authentication-provider>
  </authentication-manager>
</beans:beans>
